.maps {
	width: 40vw;
	display: inline-block;
}

.conteudo-endereco {
	
	width: 30vw;
	display: inline-block;
	margin-left: 65px;
	vertical-align: top;

}

.conteudo-endereco h1 {

	font-size: 30px;
}

.conteudo-endereco h2{

	font-size: 20px;
}

.conteudo-endereco p {

	font-size: 15px;
	font-family: arial, sans-serif;
}