.barra-superior{
	display: block;
	background-color: rgba(67, 84, 92, 1);
	height: 50px; width: calc(100% - 30px);
	padding: 0 15px;
}

.cabecalho-principal{
	display: block;
	width: calc(100%); height: 200px; 
}

.cabecalho-principal > h1{
	display: block;
	line-height: 200px; text-align: center;
	font-size: 90px;
	font-family: OpenSans;
	color: #000;	
}

.redes-sociais{
	float: right;
	display: inline-block;
	width: 50px; height: 50px;
	background-position: 13px 13px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	cursor: pointer;
}



.face{
	background-image: url("../images/face.wix_mp");
}

.youtube{
	background-image: url("../images/youtube.png");
}

.twitter{
	
	background-image: url("../images/twitter.png");
}
}