.descricao{
	display: block;
	background-color: rgba(148, 31, 25, 1);
	padding: 40px 35px;
}


.barra-inferior{
	position: relative;
	background-color: rgba(67, 84, 92, 1);
	height: 50px; width: calc(100% - 30px);
	padding: 0 15px;
}

.barra-inferior  p{
	display: block;
	text-align: left;
	line-height: 50px;
	width: 50%;
	color: #fff;
	font-family: OpenSans;
	font-size: 12px;
}

.barra-inferior > .scroll{
	cursor: pointer;
	position: absolute;
	right: 50px;
	bottom: 60px;
}