<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Evento</title>
	<link rel="stylesheet" href="../css/base/base.css">
	<link rel="stylesheet" href="../css/base/fonts.css">
	<link rel="stylesheet" href="../css/layout/header.css">
	<link rel="stylesheet" href="../css/layout/footer.css">
	<link rel="stylesheet" href="../css/modules/menu.css">
	<link rel="stylesheet" href="../css/modules/modules.css">
</head>
<body>
	<header>
		<div class="barra-superior">
			<div class="redes-sociais face"></div>
			<div class="redes-sociais twitter"></div>
			<div class="redes-sociais youtube"></div>
		</div>
		<div class="cabecalho-principal">
			<h1>Evento</h1>
		</div>
	</header>
	<ul class="menu-principal">
		<li class="menu-item"><a href="../index.html">Home</a></li>
		<li class="menu-item"><a href="../view/sobre.html">Sobre</a></li>
		<li class="menu-item"><a href="../view/programacao.html">Programação</a></li>
		<li class="menu-item"><a href="../view/inscricao.html">Inscrições</a></li>
		<li class="menu-item">Organização
			<ul class="sub-menu">
				<li class="menu-item">Coordenadores</li>
				<li class="menu-item"><a href="../view/comissao.html">Comissão Organizadora</a></li>
			</ul>
		</li>
		<li class="menu-item">Galeria
			<ul class="sub-menu">
				<li class="menu-item">Fotos</li>
				<li class="menu-item">Videos</li>
				<li class="menu-item"><a href="../view/artigo.html">Artigos</li>
			</ul>
		</li>
		<li class="menu-item"><a href="../view/endereco.html">Endereço</a></li>
	</ul>
	<section>
		<div class="conteudo">
			<div class="conteudo-artigos">
				<p>
					Download da Apresentação do Minicurso -  
            		<a href="../documentos/apresentacao.pdf" target="blank">aqui</a>

            		<img src="../css/images/new4.gif">
        		</p>

			</div>
		</div>
	</section>
	<footer>
		<div class="descricao">
			<div class="grupo-dupla">
				<h1>Quem somos?</h1>
				<p><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia omnis libero delectus dolor beatae, nulla necessitatibus, sunt ex numquam non earum est placeat dignissimos laboriosam tempora explicabo illo provident voluptate.</p>
			</div>
			<div class="grupo-dupla">
				<h1>Contato</h1>
				<p><br>Telefone: (18) 3821-3639 <br>E-mail: admin@teste.com</p>
			</div>
		</div>
		<div class="barra-inferior"></div>
	</footer>
</body>
</html>