<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Evento</title>
	<link rel="stylesheet" href="../css/base/base.css">
	<link rel="stylesheet" href="../css/base/fonts.css">
	<link rel="stylesheet" href="../css/layout/header.css">
	<link rel="stylesheet" href="../css/layout/footer.css">
	<link rel="stylesheet" href="../css/modules/menu.css">
	<link rel="stylesheet" href="../css/modules/modules.css">
</head>
<body>
	<header>
		<div class="barra-superior">
			<div class="redes-sociais face"></div>
			<div class="redes-sociais twitter"></div>
			<div class="redes-sociais youtube"></div>
		</div>
		<div class="cabecalho-principal">
			<h1>Evento</h1>
		</div>
	</header>
	<ul class="menu-principal">
		<li class="menu-item"><a href="../index.html">Home</a></li>
		<li class="menu-item">Sobre</li>
		<li class="menu-item"><a href="view/programacao.html">Programação</a></li>
		<li class="menu-item">Incrições</li>
		<li class="menu-item">Organização
			<ul class="sub-menu">
				<li class="menu-item">Coordenadores</li>
				<li class="menu-item">Comissão Organizadora</li>
			</ul>
		</li>
		<li class="menu-item">Galeria
			<ul class="sub-menu">
				<li class="menu-item">Fotos</li>
				<li class="menu-item">Videos</li>
				<li class="menu-item">Artigos</li>
			</ul>
		</li>
		<li class="menu-item"><a href="">Endereço</a></li>
	</ul>
	<section>
		<div class="conteudo-geral">

			<div class="maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59127.04724919906!2d-51.426875948683445!3d-22.147300063078003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f43f0ff7f359%3A0x3ff5d10b95e4acbf!2sFCT%2FUnesp!5e0!3m2!1spt-BR!2sbr!4v1478484041859" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="conteudo-endereco">
				<h2>Faculdade de Ciências e Tecnologia - Unesp - Presidente Prudente</h2>
				<p>Rua Roberto Simonsen, 305
				<p>CEP 19060-900 - Presidente Prudente, SP</p>
				<p>Telefone: (18) 3229-5836</p>
			</div>
			
		</div>
	</section>
	<footer>
		<div class="descricao">
			<div class="grupo-dupla">
				<h1>Quem somos?</h1>
				<p><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia omnis libero delectus dolor beatae, nulla necessitatibus, sunt ex numquam non earum est placeat dignissimos laboriosam tempora explicabo illo provident voluptate.</p>
			</div>
			<div class="grupo-dupla">
				<h1>Contato</h1>
				<p><br>Telefone: (18) 3821-3639 <br>E-mail: admin@teste.com</p>
			</div>
		</div>
		<div class="barra-inferior"></div>
	</footer>
</body>
</html>